{{!-- Template Type --}}
<div class="form-group select">
  <label>{{localize "PF1.TemplateType"}}</label>
  <select name="data.measureTemplate.type">
    {{#select data.measureTemplate.type}}
    <option value="">{{localize "PF1.None"}}</option>
    {{#each config.measureTemplateTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>

{{#if data.measureTemplate.type}}
{{!-- Template Size --}}
<div class="form-group">
  <label>{{localize "PF1.Size"}}</label>
  <div class="form-fields">
    <input type="text" name="data.measureTemplate.size" value="{{data.measureTemplate.size}}" placeholder="0" data-dtype="Number" />
  </div>
</div>
{{/if}}