<form class="{{cssClass}} flexcol" autocomplete="off">

  {{#unless hasClasses}}<span class="warning">Your character is missing a class. Some attributes require a class to function.</span>{{/unless}}

  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">

    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

    <div class="header-details flexcol">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}"/>
        </h1>

        <div class="charlevel">
          <div class="level {{#if disableExperience}}noxp{{/if}} tooltip">
            <span class="tooltipcontent">
              @attributes.hd.total : {{data.attributes.hd.total}}
            </span>
            {{localize "PF1.Level"}} {{data.details.level.value}}
          </div>
          {{#unless disableExperience}}
          <div class="experience">
            <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
                                                            placeholder="0"/>
            <span class="max"> / {{data.details.xp.max}}</span>
          </div>
          <div class="xpbar">
            <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
          </div>
          {{/unless}}
        </div>
      </div>

      {{!-- Character Summary --}}
      <div class="flexcol">
        <ul class="summary">
          <li>
            <input type="text" name="data.details.gender" value="{{data.details.gender}}" placeholder="{{localize "PF1.Gender"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{localize "PF1.Alignment"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.deity" value="{{data.details.deity}}" placeholder="{{localize "PF1.Deity"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.race" value="{{data.details.race}}" placeholder="{{localize "PF1.Race"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.raceType" value="{{data.details.raceType}}" placeholder="{{localize "PF1.TypeSubType"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.age" value="{{data.details.age}}" placeholder="{{localize "PF1.Age"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.height" value="{{data.details.height}}" placeholder="{{localize "PF1.Height"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.weight" value="{{data.details.weight}}" placeholder="{{localize "PF1.Weight"}}"/>
          </li>
          <select name="data.attributes.creatureType">
            {{#select data.attributes.creatureType}}
            {{#each config.creatureTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </ul>
      </div>

      {{!-- Header Attributes --}}
      <ul class="attributes flexrow">
        <li class="attribute health tooltip">
          <div class="tooltipcontent">
            @attributes.hp.value : {{data.attributes.hp.value}}<br/>
            @attributes.hp.max : {{data.attributes.hp.max}}<br/>
            @attributes.hp.temp : {{data.attributes.hp.temp}}<br/>
            @attributes.hp.nonlethal : {{data.attributes.hp.nonlethal}}

            {{#if sourceDetails.data.attributes.hp.max.length}}
            <br/><br/>From sources:<br/>
            {{#each sourceDetails.data.attributes.hp.max as |src|}}
            {{src.name}}: {{src.value}}<br/>
            {{/each}}
            {{/if}}
          </div>
          <h4 class="attribute-name box-title">{{ localize "PF1.Health" }}</h4>
          <div class="attribute-value multiple">
            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                                                               data-dtype="Number" placeholder="10"/>
            <span class="sep"> / </span>
            <div class="attribute">{{data.attributes.hp.max}}</div>
          </div>
          <footer class="attribute-footer">
            <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+{{localize "PF1.TempShort"}}"
                                                                             value="{{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{/if}}" data-dtype="Number"/>
            <input name="data.attributes.hp.nonlethal" type="text" class="temphp" placeholder="{{localize "PF1.Nonlethal"}}"
                                                                                  value="{{#if data.attributes.hp.nonlethal}}{{data.attributes.hp.nonlethal}}{{/if}}" data-dtype="Number"/>
          </footer>
        </li>

        <li class="attribute speed">
          <div class="attribute-speed">
            <h4 class="attribute-name box-title">{{ localize "PF1.SpeedLand" }}</h4>
            <div class="attribute-value">
              <div class="attribute">{{#if data.attributes.speed.land.total}}{{data.attributes.speed.land.total}}{{/if}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="data.attributes.speed.land.base" type="text"
                                                            value="{{#if data.attributes.speed.land.base}}{{data.attributes.speed.land.base}}{{/if}}"
                                                            data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            </footer>
          </div>
          <div class="attribute-speed">
            <h4 class="attribute-name box-title">{{ localize "PF1.SpeedClimb" }}</h4>
            <div class="attribute-value">
              <div class="attribute">{{#if data.attributes.speed.climb.total}}{{data.attributes.speed.climb.total}}{{/if}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="data.attributes.speed.climb.base" type="text"
                                                             value="{{#if data.attributes.speed.climb.base}}{{data.attributes.speed.climb.base}}{{/if}}"
                                                             data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            </footer>
          </div>
          <div class="attribute-speed">
            <h4 class="attribute-name box-title">{{ localize "PF1.SpeedSwim" }}</h4>
            <div class="attribute-value">
              <div class="attribute">{{#if data.attributes.speed.swim.total}}{{data.attributes.speed.swim.total}}{{/if}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="data.attributes.speed.swim.base" type="text"
                                                            value="{{#if data.attributes.speed.swim.base}}{{data.attributes.speed.swim.base}}{{/if}}"
                                                            data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            </footer>
          </div>
          <div class="attribute-speed">
            <h4 class="attribute-name box-title">{{ localize "PF1.SpeedBurrow" }}</h4>
            <div class="attribute-value">
              <div class="attribute">{{#if data.attributes.speed.burrow.total}}{{data.attributes.speed.burrow.total}}{{/if}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="data.attributes.speed.burrow.base" type="text"
                                                              value="{{#if data.attributes.speed.burrow.base}}{{data.attributes.speed.burrow.base}}{{/if}}"
                                                              data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            </footer>
          </div>
          <div class="attribute-speed">
            <h4 class="attribute-name box-title">{{ localize "PF1.SpeedFly" }}</h4>
            <div class="attribute-value">
              <div class="attribute">{{#if data.attributes.speed.fly.total}}{{data.attributes.speed.fly.total}}{{/if}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="data.attributes.speed.fly.base" type="text"
                                                           value="{{#if data.attributes.speed.fly.base}}{{data.attributes.speed.fly.base}}{{/if}}"
                                                           data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            </footer>
          </div>
          <div class="attribute-speed">
            <h4 class="attribute-name box-title">{{ localize "PF1.FlyManeuverabilityShort" }}</h4>
            <select name="data.attributes.speed.fly.maneuverability">
              {{#select data.attributes.speed.fly.maneuverability}}
              {{#each config.flyManeuverabilities as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </li>
      </ul>
    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="attributes">{{ localize "PF1.Attributes" }}</a>
    <a class="item" data-tab="inventory">{{ localize "PF1.Inventory" }}</a>
    <a class="item" data-tab="feats">{{ localize "PF1.Features" }}</a>
    <a class="item" data-tab="skills">{{ localize "PF1.Skills" }}</a>
    <a class="item" data-tab="spellbook">{{ localize "PF1.Spells" }}</a>
    <a class="item" data-tab="attacks">{{ localize "PF1.Attacks" }}</a>
    <a class="item" data-tab="defenses">{{ localize "PF1.Defenses" }}</a>
    <a class="item" data-tab="biography">{{ localize "PF1.Biography" }}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
    <a class="item" data-tab="buffs">{{ localize "PF1.Buffs" }}</a>
  </nav>

  {{!-- NPC Sheet Body --}}
  <section class="primary-body">

    <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

      {{!-- Ability Scores --}}
      <ul class="ability-scores flexrow">
        {{#each data.abilities as |ability id|}}
        <li class="ability tooltip" data-ability="{{id}}">
          <span class="tooltipcontent">
            @abilities.{{id}}.total : {{ability.total}}<br/>
            @abilities.{{id}}.value : {{ability.value}}<br/>
            @abilities.{{id}}.mod : {{ability.mod}}<br/>
            @abilities.{{id}}.damage : {{ability.damage}}<br/>
            @abilities.{{id}}.drain : {{ability.drain}}<br/>
            @abilities.{{id}}.penalty : {{ability.penalty}}

            {{#if ability.sourceDetails.length}}
            <br/><br/>From sources:<br/>
            {{#each ability.sourceDetails as |src|}}
            {{src.name}}: {{src.value}}<br/>
            {{/each}}
            {{/if}}
          </span>
          <div class="ability-header flexrow">
            <input class="ability-damage" name="data.abilities.{{id}}.damage" type="text"
                                                                              value="{{#if ability.damage}}{{ability.damage}}{{/if}}" data-dtype="Number" placeholder="DMG"/>
            <input class="ability-penalty" name="data.abilities.{{id}}.userPenalty" type="text"
                                                                                    value="{{#if ability.userPenalty}}{{ability.userPenalty}}{{/if}}" data-dtype="Number" placeholder="PNL"/>
            <input class="ability-drain" name="data.abilities.{{id}}.drain" type="text"
                                                                            value="{{#if ability.drain}}{{ability.drain}}{{/if}}" data-dtype="Number" placeholder="DRN"/>
          </div>
          <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
          <span class="ability-score">{{numberFormat ability.total decimals=0 sign=false}}</span>
          <div class="ability-modifiers flexrow">
            <span class="ability-mod">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            <a class="proficiency-toggle ability-proficiency"></a>
            <input class="ability-base" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10"/>
          </div>
        </li>
        {{/each}}
      </ul>

      {{!-- Misc --}}
      <div class="flexcol attributes-root">
        <ul class="attributes misc-base flexrow">
          <li class="attribute bab tooltip" data-attribute="bab">
            <span class="tooltipcontent">
              @attributes.bab.total : {{data.attributes.bab.total}}

              {{#if sourceDetails.data.attributes.bab.total.length}}
              <br/><br/>From sources:<br/>
              {{#each sourceDetails.data.attributes.bab.total as |src|}}
              {{src.name}}: {{src.value}}<br/>
              {{/each}}
              {{/if}}
            </span>
            <h4 class="attribute-name box-title rollable">BAB</h4>
            <div class="attribute-value">
              <span>{{numberFormat data.attributes.bab.total decimals=0 sign=false}}</span>
              {{!-- <input name="data.attributes.bab.total" type="text" placeholder="0" data-dtype="Number"
                                                                                        value="{{numberFormat data.attributes.bab.total decimals=0 sign=false}}"/> --}}
            </div>
          </li>

          <li class="attribute cmb tooltip" data-attribute="cmb">
            <span class="tooltipcontent">
              @attributes.cmb.total : {{data.attributes.cmb.total}}

              {{#if sourceDetails.data.attributes.cmb.total.length}}
              <br/><br/>From sources:<br/>
              {{#each sourceDetails.data.attributes.cmb.total as |src|}}
              {{src.name}}: {{src.value}}<br/>
              {{/each}}
              {{/if}}
            </span>
            <h4 class="attribute-name box-title rollable">CMB</h4>
            <div class="attribute-value">
              <span>{{data.attributes.cmb.total}}</span>
            </div>
          </li>
        </ul>

        <ul class="attributes misc-base flexrow">
          <li class="attribute initiative tooltip" data-attribute="init">
            <span class="tooltipcontent">
              @attributes.init.total : {{data.attributes.init.total}}

              {{#if sourceDetails.data.attributes.init.total.length}}
              <br/><br/>From sources:<br/>
              {{#each sourceDetails.data.attributes.init.total as |src|}}
              {{src.name}}: {{src.value}}<br/>
              {{/each}}
              {{/if}}
            </span>
            <h4 class="attribute-name box-title rollable">{{localize "PF1.Initiative"}}</h4>
            <div class="attribute-value">
              <span>{{data.attributes.init.total}}</span>
            </div>
          </li>
        </ul>

        <ul class="attributes misc-base2 flexrow">
          <li class="attribute acp tooltip" data-attribute="acp">
            <span class="tooltipcontent">@attributes.acp.total : {{data.attributes.acp.total}}</span>
            <h4 class="attribute-name box-title">ACP</h4>
            <div class="attribute-value">
              <span>{{data.attributes.acp.total}}</span>
            </div>
          </li>

          <li class="attribute maxdex" data-attribute="maxdex">
            <h4 class="attribute-name box-title">{{localize "PF1.MaxDexShort"}}</h4>
            <div class="attribute-value">
              <span>{{data.attributes.maxDexBonus}}</span>
            </div>
          </li>
        </ul>

        <textarea name="data.attributes.cmbNotes" placeholder="CMB {{localize "PF1.Notes"}}">{{data.attributes.cmbNotes}}</textarea>
      </div>

      <section class="center-pane">
        {{!-- Traits --}}
        {{> "systems/pf1/templates/actors/parts/actor-traits.html"}}
      </section>
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
      {{> "systems/pf1/templates/actors/parts/actor-inventory.html" sections=inventory}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab feats flexcol" data-group="primary" data-tab="feats">
      {{> "systems/pf1/templates/actors/parts/actor-features.html" sections=features}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills flexcol" data-group="primary" data-tab="skills">
      {{> "systems/pf1/templates/actors/parts/actor-skills-front.html"}}
    </div>

    {{!-- Spellbook Tab --}}
    <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
      {{> "systems/pf1/templates/actors/parts/actor-spellbook-front.html"}}
    </div>

    {{!-- Attacks Tab --}}
    <div class="tab attacks flexcol" data-group="primary" data-tab="attacks">
      {{> "systems/pf1/templates/actors/parts/actor-attacks.html" sections=attacks}}
    </div>

    {{!-- Defenses Tab --}}
    <div class="tab defenses flexcol" data-group="primary" data-tab="defenses">
      {{> "systems/pf1/templates/actors/parts/actor-defenses.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography flexcol" data-group="primary" data-tab="biography">
      {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes flexcol" data-group="primary" data-tab="notes">
      {{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Buffs Tab --}}
    <div class="tab buffs flexcol" data-group="primary" data-tab="buffs">
      {{> "systems/pf1/templates/actors/parts/actor-buffs.html" sections=buffs}}
    </div>
  </section>
</form>
