<form class="{{cssClass}}" autocomplete="off">

  <!-- HEADER -->
  <header class="sheet-header">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}"/>
    </h1>
  </header>

  <!-- BODY -->
  <section class="sheet-body">
    <div class="tab biography">
      {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
    </div>
  </section>

  <!-- SIDEBAR -->
  <section class="sheet-sidebar">
    <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img"/>
  </section>
</form>
