<div class="inventory-filters">

  <ol class="currency flexrow">
    <h3>
      {{localize "PF1.Currency"}}
      <!-- <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a> -->
    </h3>
    {{#each data.currency as |v k|}}
    <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
    <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number"/>
    {{/each}}
  </ol>
  {{#if isCharacter}}
  <ol class="currency flexrow">
    <h3>
      {{localize "PF1.WeightlessCurrency"}}
      <!-- <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a> -->
    </h3>
    {{#each data.altCurrency as |v k|}}
    <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
    <input type="text" name="data.altCurrency.{{k}}" value="{{v}}" data-dtype="Number"/>
    {{/each}}
  </ol>
  {{/if}}
</div>

{{!-- Inventory Navigation --}}
<nav class="sheet-navigation tabs subtabs inventory" data-group="inventory">
  {{#each sections as |section sid|}}
  <a class="item" data-tab="{{sid}}">{{section.label}}</a>
  {{/each}}
</nav>

<section class="inventory-body">
  {{#each sections as |section sid|}}
  <div class="tab inventory-group flexcol" data-group="inventory" data-tab="{{sid}}">
    <ol class="inventory-list sub-scroll scroll-inventory">
      <li class="inventory-header flexrow">
        <h3 class="item-name flexrow"></h3>

        {{#if section.hasSlots}}<div class="item-detail item-slot"><span>{{localize "PF1.Slot"}}</span></div>{{/if}}
        {{#if section.hasActions}}<div class="item-detail item-actions"><span>{{localize "PF1.ActionPlural"}}</span></div>{{/if}}

        <div class="item-detail item-weight"><span>{{localize "PF1.Weight"}}</span></div>
        <div class="item-detail item-equipped"><span>{{localize "PF1.Equipped"}}</span></div>
        <div class="item-detail item-uses"><span>{{localize "PF1.ChargePlural"}}</span></div>

        {{#if ../owner}}
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
          </a>
          {{/if}}
        </div>
        {{/if}}
      </li>

      <ol class="item-list">
        {{#each section.items as |item iid|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <h4>
              {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
              {{item.name~}}
            </h4>
          </div>

          {{#if section.hasSlots}}
          <div class="item-detail item-slot">
            {{#if item.labels.slot}}
            <span>{{item.labels.slot}}</span>
            {{/if}}
          </div>
          {{/if}}

          {{#if section.hasActions}}
          <div class="item-detail item-actions">
            <div class="item-attack">
              {{#if item.hasAction}}
              <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
              {{/if}}
            </div>
          </div>
          {{/if}}

          <div class="item-detail item-weight">
            {{#if item.totalWeight}}
            <span>
              {{ item.totalWeight }} lbs.
            </span>
            {{/if}}
          </div>

          <div class="item-detail item-equipped">
            <a class="item-control item-equip"><span>{{item.labels.equipped}}</span></a>
          </div>

          <div class="item-detail item-uses flexrow">
            {{#if item.data.uses.max}}
            <input type="text" value="{{item.data.uses.value}}" data-dtype="Number"/>
            <span class="sep"> of </span>
            <input type="text" value="{{item.data.uses.max}}" disabled data-dtype="Number"/>
            {{/if}}
          </div>

          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </ol>
  </div>
  {{/each}}
</section>


{{#unless isLootSheet}}
<div class="form-group carry-bonus">
  <label>{{localize "PF1.BonusCarryStrength"}}</label>
  <input type="text" name="data.abilities.str.carryBonus" value="{{data.abilities.str.carryBonus}}" data-dtype="Number" placeholder="0"/>
  <label>{{localize "PF1.Multiplier"}}</label>
  <input type="text" name="data.abilities.str.carryMultiplier" value="{{data.abilities.str.carryMultiplier}}"
                                                               data-dtype="Number" placeholder="1"/>
</div>
{{#with encumbrance}}
<span class="carry-label">{{carryLabel}}</span>
<div class="encumbrance {{#if encumbered.light}}encumbered{{/if}}">
  <span class="encumbrance-bar" style="width:{{pct.light}}%"></span>
  <span class="encumbrance-label">{{localize "PF1.CarryLightLoad"}} ({{light}})</span>
</div>
<div class="encumbrance {{#if encumbered.medium}}encumbered{{/if}}">
  <span class="encumbrance-bar" style="width:{{pct.medium}}%"></span>
  <span class="encumbrance-label">{{localize "PF1.CarryMediumLoad"}} ({{medium}})</span>
</div>
<div class="encumbrance {{#if encumbered.medium}}encumbered{{/if}}">
  <span class="encumbrance-bar" style="width:{{pct.heavy}}%"></span>
  <span class="encumbrance-label">{{localize "PF1.CarryHeavyLoad"}} ({{heavy}})</span>
</div>
{{/with}}
{{else}}
{{#with encumbrance}}
<span class="carry-label">{{carryLabel}}</span>
{{/with}}
{{/unless}}
